@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-cursor {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(151, 4, 156, 0); /* Customize the border as needed */
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference; 
  /* filter: invert(100%); */
  background-color: rgb(224, 224, 224);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("https://i.pinimg.com/236x/87/00/7f/87007f40dee20259447d453e5decffbc.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  
  left: -100px;
  
}

.cursor-enlarged {
  transform: scale(2); /* Adjust the scale factor as needed */
  transition: transform 0.2s ease-in-out; /* Smooth transition for the cursor size change */
}
* {
  scroll-behavior: smooth;
}

.scroll_text_moving{
  letter-spacing: 3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(223, 223, 223);
}

/* .p_text:hover .custom-cursor{ background-color: yellow; } */

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  scroll-behavior: smooth;
 
  
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
